# -*- coding: utf-8 -*-
from PyQt5.Qt import Qt
from pybration.DataSturucture import Plugin
from pybration.Main import main


class $module$(Plugin):
    def __init__(self):
        super().__init__()
        # self.setWindowFlags(Qt.Dialog)
        self.window = None

    def init(self, data):
        self.data = data

    def enable_button(self):
        return $button$

    def clicked(self):
        print("click!!")


if "__main__" == __name__:
    main()
